#header{text-align: center; font-size: 28px;}
#header{background-color: #000FFF}
#header{font-family: fantasy;}

#webcam {
width:600px; height:800px;
}


/* fica a vontade para estilizar*/

